@charset "UTF-8";
/* цвет основного текста #212121; */
/* цвет вторичного текста #757575; */
/* белый #ffffff; */
/* акцент #2196F3;*/
/* вторичный цвет фона #F5F4FA; */
/* цвет адрес ссылок в футере rgba(255, 255, 255, 0.6); */
/* Цвет фона кнопок "Портфолио"  #F5F4FA;*/
/* Цвет фона секции Hero и Footer #2F303A; */
/* Цвет фона секции Our Team #F5F4FA; */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.header-logo:focus {
  color: #2196f3;
}

.logo-part {
  color: #212121;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-item {
  position: relative;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  padding: 32px 0 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
}

.nav-link:hover::after {
  opacity: 1;
}

.nav-link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  display: block;
  border-radius: 2px;
  position: absolute;
  top: 76px;
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  color: #2196f3;
}

.nav-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  display: block;
  border-radius: 2px;
  position: absolute;
  top: 76px;
  opacity: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact-item {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contact-item:hover, .contact-item:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact-item:last-child {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-item:last-child {
    margin-left: 30px;
  }
}

.contact-link {
  padding-top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-link:hover, .contact-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contact-link {
    padding: 32px 0 32px 0;
  }
}

.contact-icon {
  fill: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
  fill: #2196f3;
}

.message {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.burger-button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button:hover {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .close-menu {
    display: none;
    width: 19px;
    height: 19px;
  }
}

@media screen and (max-width: 767px) {
  .burger-button.is-open .close-menu {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .burger-button.is-open .open-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: unset;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
  }
}

@media screen and (max-width: 767px) {
  .burger-nav {
    margin-top: 60px;
    width: 99px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .burger-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 99px;
  }
}

@media screen and (max-width: 767px) {
  .burger-item {
    position: relative;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .burger-link {
    padding: 20px 0 20px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #212121;
    color: #212121;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger-link:hover, .burger-link:focus {
    color: #2196f3;
  }
  .burger-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    border-radius: 2px;
    top: 25px;
    opacity: 0;
  }
  .burger-link:hover::after {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .burger-link.current {
    color: #2196f3;
  }
  .burger-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    display: block;
    border-radius: 2px;
    position: absolute;
    top: 25px;
    opacity: 1;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (max-width: 767px) {
  .burger-contacts {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero {
  background-color: #2f303a;
  padding-top: 201px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mobile/hero/hero-bg.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mobile/hero/hero-bg@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile/hero/hero-bg@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet/hero/hero-bg.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/hero-bg.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet/hero/hero-bg@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet/hero/hero-bg@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/desktop/hero/hero-bg.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero/hero-bg.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/desktop/hero/hero-bg.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop/hero/hero-bg.jpg");
  }
}

.hero-container {
  max-width: 360px;
  text-align: center;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .hero-container {
    max-width: 700px;
  }
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-button {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  min-width: 200px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-button:hover, .hero-button:focus {
  color: #ffffff;
  background: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px 15px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 1;
  overflow-y: scroll;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding: 80px 159px 0;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 0;
  }
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: relative;
  display: inline-block;
  padding: 40px;
  margin: 0;
  -webkit-transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  width: 100%;
  max-width: 450px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    max-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    max-height: 581px;
    max-width: 528px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .backdrop.is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
  }
}

.close-button {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.close-plus {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18px;
  height: 18px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #000000;
  cursor: pointer;
}

.close-button:hover .close-plus,
.close-button:focus .close-plus {
  fill: #2196f3;
}

/* ---Формы--- */
.form {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .form {
    max-width: 448px;
  }
}

.form-title {
  max-width: 450px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 28px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  position: absolute;
  top: -50%;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input {
  width: 100%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.form-input:hover, .form-input:focus {
  outline: none;
  border-color: #2196f3;
}

.form-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.form-input:hover + .form-svg,
.form-input:focus + .form-svg {
  fill: #2196f3;
}

.field-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}

.text-label {
  position: absolute;
  top: -15%;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.text-area {
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  resize: none;
}

.text-area::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.text-area:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.text-area::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.text-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.text-area:hover, .text-area:focus {
  border-color: #2196f3;
  outline: none;
}

.agreement-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .agreement-label {
    padding-left: 12px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.agreement-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .agreement-icon {
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: border-box;
  background-color: #2196f3;
  border-color: #2196f3;
}

.agreement-link {
  color: #2196f3;
}

.form-button {
  display: inline-block;
  padding: 10px 55px;
  border-radius: 4px;
  border: 1px solid transparent;
  width: 200px;
  height: 50px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.form-button:hover, .form-button:focus {
  background: #188ce8;
}

.advantage {
  padding-top: 94px;
}

.advantage-title {
  text-align: center;
}

.advantage-item:not(:last-child) {
  margin-bottom: 30px;
}

.advantage-item:last-child {
  margin-bottom: 60px;
}

.advantage-item::before {
  content: "";
  margin-bottom: 30px;
  display: block;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .advantage-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advantage-item:not(:first-child) {
    margin-left: 30px;
  }
  .advantage-item:first-child {
    padding-right: 6px;
  }
}

.antenna::before {
  background-image: url(../images/antenna.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.clock::before {
  background-image: url(../images/clock\.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.diagram::before {
  background-image: url(../images/diagram\.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.astronaut::before {
  background-image: url(../images/astronaut\.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.advantage-title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantage-text {
  color: #757575;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.occupation {
  padding: 94px 0;
}

@media screen and (max-width: 1200px) {
  .occupation {
    display: none;
  }
}

.occupation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.occupation-title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.occupation-item {
  position: relative;
}

.occupation-item:not(:last-child) {
  margin-right: 30px;
}

.occupation-image {
  display: block;
}

.occupation-description {
  position: absolute;
  padding-top: 27px;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.our-team {
  background: #f5f4fa;
  padding: 94px 0;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .team-list {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}

.team-item {
  display: inline-block;
  max-width: 450px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-item {
    max-width: 354px;
    margin-bottom: 0;
  }
  .team-item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .team-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-item {
    margin-bottom: 0;
  }
  .team-item:not(:first-child) {
    margin-left: 30px;
  }
}

.team-title {
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-image {
  margin-bottom: 30px;
}

.team-member {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-profession {
  margin-bottom: 16px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team {
  margin-bottom: 30px;
}

.social-list {
  text-align: center;
}

.social-link {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon {
  width: 22px;
  height: 22px;
  fill: #afb1b8;
}

.social-link:hover .team-icon,
.social-link:focus .team-icon {
  fill: #ffffff;
}

.client {
  padding: 94px 0;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .client-list {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}

.client-title {
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.client-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .client-item {
    width: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client-item :not(:first-child) {
    margin-left: 30px;
  }
}

.client-link {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 90px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover, .client-link:focus {
  border-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .client-link {
    width: 170px;
  }
}

.client-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: #2196f3;
}

.footer {
  padding: 50px 0;
  border-top: 1px solid #ececec;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 65px 0;
  }
}

@media screen and (min-width: 768px), (max-width: 1199) {
  .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}

.contact-logo {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .contact-logo {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact-logo {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    text-align: start;
  }
}

.footer-contact {
  padding: 0;
}

.footer-logo {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-logo:focus {
  color: #2196f3;
}

.footer-studio {
  color: #ffffff;
}

.contact-adress {
  margin-bottom: 9px;
  display: inline-block;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.contact-adress:hover, .contact-adress:focus {
  color: #2196f3;
}

.adress-mail,
.adress-tel {
  display: inline-block;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.adress-mail {
  margin-bottom: 9px;
}

.adress-mail:hover, .adress-mail:focus {
  color: #2196f3;
}

.adress-tel:hover,
.adress-tel:focus {
  color: #2196f3;
}

/*------------------- Social -------------------*/
.social {
  margin-bottom: 60px;
  padding-top: 12px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .social {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 165px;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .social {
    padding-top: 12px;
    margin-left: 70px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 206px;
  }
}

.social-title {
  margin-bottom: 20px;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social-item {
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  .social-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.social-item:not(:first-child) {
  margin-left: 10px;
}

.social-link {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.white-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icon {
  fill: #ffffff;
}

/* ------------------Subscription Form------------------ */
.subscription {
  max-width: 767px;
  padding-top: 12px;
}

@media screen and (min-width: 768px) {
  .subscription {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: 93px;
    padding-top: 12px;
    width: 570px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscription-title {
  margin-bottom: 20px;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscription-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscription-input {
  padding-left: 16px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .subscription-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-input {
    margin-right: 12px;
    width: 358px;
    height: 50px;
  }
}

.subscription-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid transparent;
  width: 200px;
  height: 50px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-button:hover, .subscription-button:focus {
  background: #188ce8;
}

.telegram-svg {
  margin-left: 10px;
  fill: #ffffff;
}
/*# sourceMappingURL=main.css.map */