@charset "UTF-8";
/* цвет основного текста #212121; */
/* цвет вторичного текста #757575; */
/* белый #ffffff; */
/* акцент #2196F3;*/
/* вторичный цвет фона #F5F4FA; */
/* цвет адрес ссылок в футере rgba(255, 255, 255, 0.6); */
/* Цвет фона кнопок "Портфолио"  #F5F4FA;*/
/* Цвет фона секции Hero и Footer #2F303A; */
/* Цвет фона секции Our Team #F5F4FA; */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.header-logo:focus {
  color: #2196f3;
}

.logo-part {
  color: #212121;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav-list {
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav-item {
  position: relative;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  padding: 32px 0 32px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.nav-link:hover, .nav-link:focus {
  color: #2196f3;
}

.nav-link:hover::after {
  opacity: 1;
}

.nav-link::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  display: block;
  border-radius: 2px;
  position: absolute;
  top: 76px;
  opacity: 0;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
  color: #2196f3;
}

.nav-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  display: block;
  border-radius: 2px;
  position: absolute;
  top: 76px;
  opacity: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts {
  display: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contact-item {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.contact-item:hover, .contact-item:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .contact-item:last-child {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-item:last-child {
    margin-left: 30px;
  }
}

.contact-link {
  padding-top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-link:hover, .contact-link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contact-link {
    padding: 32px 0 32px 0;
  }
}

.contact-icon {
  fill: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .contact-icon,
.contact-link:focus .contact-icon {
  fill: #2196f3;
}

.message {
  width: 16px;
  height: 12px;
}

.smartphone {
  width: 10px;
  height: 16px;
}

.burger-button {
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-button:hover {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .burger-button {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .close-menu {
    display: none;
    width: 19px;
    height: 19px;
  }
}

@media screen and (max-width: 767px) {
  .burger-button.is-open .close-menu {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .burger-button.is-open .open-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: unset;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: absolute;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
  }
}

@media screen and (max-width: 767px) {
  .burger-nav {
    margin-top: 60px;
    width: 99px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .burger-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 99px;
  }
}

@media screen and (max-width: 767px) {
  .burger-item {
    position: relative;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .burger-link {
    padding: 20px 0 20px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #212121;
    color: #212121;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger-link:hover, .burger-link:focus {
    color: #2196f3;
  }
  .burger-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    border-radius: 2px;
    top: 25px;
    opacity: 0;
  }
  .burger-link:hover::after {
    opacity: 1;
  }
}

@media screen and (max-width: 767px) {
  .burger-link.current {
    color: #2196f3;
  }
  .burger-link.current::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    display: block;
    border-radius: 2px;
    position: absolute;
    top: 25px;
    opacity: 1;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (max-width: 767px) {
  .burger-contacts {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.portfolio-menu {
  padding: 40px 0 60px 0;
}

@media screen and (min-width: 1200px) {
  .portfolio-menu {
    padding: 94px 0;
  }
}

.filter-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter-nav {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter-box:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
  .filter-box:not(:last-child) {
    margin-right: 8px;
  }
}

.filter-item.current {
  margin-left: 0;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.filter-item.current:hover, .filter-item.current:focus {
  color: #212121;
  background-color: #f5f4fa;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-item {
  padding: 9px 22px;
  color: #212121;
  background-color: #f5f4fa;
  border: 1px solid transparent;
  text-decoration: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.filter-item:hover, .filter-item:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 768px) {
  .filter-item {
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.portfolio-item {
  color: #ffffff;
}

.portfolio-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: calc((100% - 30px) / 2);
  }
  .portfolio-item:nth-child(odd) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-item {
    width: calc((100% - 60px) / 3);
  }
  .portfolio-item:nth-child(-n + 6) {
    margin-bottom: 30px;
  }
  .portfolio-item:nth-child(3n + 1), .portfolio-item:nth-child(3n + 2) {
    margin-right: 30px;
  }
}

.portfolio-title {
  margin: 20px 24px 0 24px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-link {
  display: inline-block;
  border: 1px solid #eeeeee;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 77px 24px;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    padding: 63px 24px;
  }
}

.portfolio-type {
  margin: 0 24px 20px 24px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.footer {
  padding: 50px 0;
  border-top: 1px solid #ececec;
  background-color: #2f303a;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 65px 0;
  }
}

@media screen and (min-width: 768px), (max-width: 1199) {
  .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: unset;
        flex-wrap: unset;
  }
}

.contact-logo {
  text-align: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .contact-logo {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .contact-logo {
    display: inline-block;
    padding: 0;
    margin-bottom: 0;
    text-align: start;
  }
}

.footer-contact {
  padding: 0;
}

.footer-logo {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-logo:focus {
  color: #2196f3;
}

.footer-studio {
  color: #ffffff;
}

.contact-adress {
  margin-bottom: 9px;
  display: inline-block;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.contact-adress:hover, .contact-adress:focus {
  color: #2196f3;
}

.adress-mail,
.adress-tel {
  display: inline-block;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.adress-mail {
  margin-bottom: 9px;
}

.adress-mail:hover, .adress-mail:focus {
  color: #2196f3;
}

.adress-tel:hover,
.adress-tel:focus {
  color: #2196f3;
}

/*------------------- Social -------------------*/
.social {
  margin-bottom: 60px;
  padding-top: 12px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .social {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 165px;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .social {
    padding-top: 12px;
    margin-left: 70px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 206px;
  }
}

.social-title {
  margin-bottom: 20px;
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social-item {
  display: inline-block;
}

@media screen and (min-width: 1200px) {
  .social-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.social-item:not(:first-child) {
  margin-left: 10px;
}

.social-link {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: unset;
      flex-wrap: unset;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.white-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icon {
  fill: #ffffff;
}

/* ------------------Subscription Form------------------ */
.subscription {
  max-width: 767px;
  padding-top: 12px;
}

@media screen and (min-width: 768px) {
  .subscription {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: 93px;
    padding-top: 12px;
    width: 570px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.subscription-title {
  margin-bottom: 20px;
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .subscription-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscription-input {
  padding-left: 16px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
  max-width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .subscription-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription-input {
    margin-right: 12px;
    width: 358px;
    height: 50px;
  }
}

.subscription-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  margin: 0 auto;
  border-radius: 4px;
  border: 1px solid transparent;
  width: 200px;
  height: 50px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-button:hover, .subscription-button:focus {
  background: #188ce8;
}

.telegram-svg {
  margin-left: 10px;
  fill: #ffffff;
}
/*# sourceMappingURL=portfolio.css.map */