/* цвет основного текста #212121; */
/* цвет вторичного текста #757575; */
/* белый #ffffff; */
/* акцент #2196F3;*/
/* вторичный цвет фона #F5F4FA; */
/* цвет адрес ссылок в футере rgba(255, 255, 255, 0.6); */
/* Цвет фона кнопок "Портфолио"  #F5F4FA;*/
/* Цвет фона секции Hero и Footer #2F303A; */
/* Цвет фона секции Our Team #F5F4FA; */

$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-white-color: #ffffff;
$footer-link-color: rgba(255, 255, 255, 0.6);
$secondary-bg-color: #f5f4fa;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;
